body{
    margin: 0px;
    /* widows: 100vw; */
    background-color: #EBE7CC !important;
    /* text-align: center; */
}


#main{
    height: 100vh;
    overflow: scroll !important;
}

.menue{
  text-align: center;
}

/* ジグザグ */
.zigzag {
  position: relative;
  background: #A4A4A4;
  /*filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.8));*/
}
.zigzag::before, .zigzag::after {
  height: 30px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
.zigzag::before {
  top: -30px;
  background: linear-gradient(45deg, #A4A4A4 20px, transparent 0), linear-gradient(315deg, #A4A4A4 20px, transparent 0);
  background-size: 40px 40px;
}
.zigzag::after {
  bottom: -20px;
  background: linear-gradient(135deg, #A4A4A4 20px, transparent 0), linear-gradient(225deg, #A4A4A4 20px, transparent 0);
  background-size: 40px 40px;
}


/* ジグザグbottom */
.zigzag_bottom {
    position: relative;
    /* width: 360px; */
    /* height: 180px; */
    /* margin-top: 750px; */
    background: #A4A4A4;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.8));
  }
  .zigzag_bottom::before, .zigzag::after {
    height: 30px;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
  }
  .zigzag_bottom::before {
    top: -20px;
    background: linear-gradient(45deg, #A4A4A4 20px, transparent 0), linear-gradient(315deg, #A4A4A4 20px, transparent 0);
    background-size: 40px 40px;
  }
  .zigzag_bottom::after {
    bottom: -30px;
    background: linear-gradient(135deg, #A4A4A4 20px, transparent 0), linear-gradient(225deg, #A4A4A4 20px, transparent 0);
    background-size: 40px 40px;
  }


/* ロゴ */
#teamb_logo{
  text-align: center;
  height: auto;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 30px;
}
#logo{
  text-align: center;
  margin: 0 auto;
}

.box{
  height: 200px;
  width: 100%;
}
#logo2{
  padding-top: 40px;
  padding-right: 30px;
  float: right;
  height: 100%;
  width: 150px;
}

.title{
    /* 可愛いフォントにする */
    /* height: 200px; */
    /* width: 300; */
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #84460C;
    /* margin: 50px; */
}

.title_2{
    font-size: 40px;
    font-weight: bold;
    color: #84460C;
}
.question_2{
	color: #84460C;
	font-size:20px;
    font-weight: bold;
}


.light_sample{
    height: 200px;
    width: 250px;
    border-radius: 20px;
    color: #84460C;
    font-size:40px;
    text-align: center;
    font-weight: bold;
    border: 10px solid #84460C;
    /* display: inline-block; */
    float: left;
    margin: 20px;
}
.output_box{
    float: right;
}

.sample_box{
    /* background-color: pink; */
    height: 300px;
    width: 600px;
    margin: 0 auto;
}


.question{
	color: #84460C;
	font-size:41px;
    font-weight: bold;
    text-align: center;
}

.option{
	color: #84460C;
	font-size:35px;
    font-weight: bold;
    text-align: left;
	margin: 50px;
}

.select_machines{
    height: 600px;
    width: 800px;
    border: 10px solid #84460C;
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;

    /* 要素の形づけ */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    text-align: center;
    margin:  0 auto; 
    margin-bottom: 30px;
    background-color: #C12E34;
}

.select_machines p{
    text-decoration: none;
    font-weight: bold;
    color: #EBE7CC;
}

.title_2{
    font-size: 60px;
    margin: 20px;
    margin-bottom: 40px;
}
.question_2{
    font-size: 35px;
}
 
.inline-block_test {
    display: inline-block;      /* インラインブロック要素にする */
    background-color:  rgba(0,0,0,0);;    /* 背景色指定 */
    padding:  20px;             /* 余白指定 */
}


#teamb_logo{
    text-align: center;
    padding-top: 40px;
}

.footer_logo{
    color: #84460C;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.fotter{
    /* height: 100px; */
    width: 100%;
    position: absolute;
    /*←絶対位置*/
    bottom: 0; /*下に固定*/
    background-color: pink;
}

