<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles_machine_mode.css">
</head>
<body>
  <div class="zigzag"></div>
  <div class="box">
        <img id="logo2" src="../static/logo2.png">
    </div>
    <div id="teamb_logo">
        <img id="logo" src="../static/teamb.png" height="200px" width="250px">
    </div>

  <div class="title">
      <a>テレビの操作</a>
  </div>

  <div class="select_machines">
      <a href="tv_on" class="select_contents">電源ON</a>
  </div>
  <div class="select_machines">
      <a href="#" class="select_contents">チャンネル変更（+1）</a>
  </div>
  <div class="select_machines">
      <a href="#" class="select_contents">チャンネル変更（-1）</a>
  </div>
  <div class="select_machines">
      <a href="#" class="select_contents">電源OFF</a>
  </div>

  <p class="footer_logo">カントリーマアム（バニラ）</p>

  <!-- <div class="fotter">
      <div class="zigzag_bottom">
      </div>
  </div> -->
</body>
</html>
